doctype html
html.
	<head>
		<script src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
		<script>
			var config = {
			  apiKey: "AIzaSyBAut1TR00IbtLgG40mhn68edl5LNkSTJc",
			  authDomain: "fellowshipofthebank.firebaseapp.com",
			  databaseURL: "https://fellowshipofthebank.firebaseio.com",
			  storageBucket: "fellowshipofthebank.appspot.com",
			  messagingSenderId: "20840712965"
			};
			firebase.initializeApp(config);
		</script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-yellow.min.css">
		<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
	</head>
	<body class>
		<style>
		.demo-card-wide.mdl-card {
		  width: 100%;
		}
		.demo-card-wide > .mdl-card__title {
		  color: #fff;
		  height: 176px;
		  background: url("/images/Logo Version 2 (with dot).png") center / cover;
		}
		.demo-card-wide > .mdl-card__menu {
		  color: #fff;
		}
		</style>
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--4-col"></div>
			<div class="mdl-cell mdl-cell--4-col">
			  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
				  <div class="mdl-card__title">
				    
				  </div>
					<div class="mdl-card__supporting-text">
						<form action="#">
						  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						    <input class="mdl-textfield__input" type="text" id="username">
						    <label class="mdl-textfield__label" for="sample3">Username</label>
						  </div>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						    <input class="mdl-textfield__input" type="password" id="password">
						    <label class="mdl-textfield__label" for="sample3">Password</label>
						  </div>
						</form>
					</div>
				  <div class="mdl-card__actions mdl-card--border">
				    <a onClick="login()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
				      Login
				    </a>
						<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
				      Sign up
				    </a>
				  </div>
				</div>
				<div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
				  <div class="mdl-snackbar__text"></div>
				  <button class="mdl-snackbar__action" type="button"></button>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--4-col"></div>
		</div>
	</body>
	<script src="/javascripts/loginScript.js"></script>
